<div class="container-fluid">
  <h1>Demo Registration</h1>
  <form #userForm="ngForm">

    <!-- {{userForm.value | json}} 
    <hr/>
    {{userModel | json}}-->

    <!-- <div ngModelGroup="adress"> 
      <div class="form-group">
        <label for="">Street</label>
        <input type="text" class="form-control" name="street" ngModel>
      </div>
      <div class="form-group">
        <label for="">City</label>
        <input type="text" class="form-control" name="city" ngModel>
      </div>
      <div class="form-group">
        <label for="">State</label>
        <input type="text" class="form-control" name="state" ngModel>
      </div>  
    </div>-->

    {{userForm.form.valid}}

    <div class="form-group">
      <label for="">Name</label>
      <input type="text" required #name="ngModel" [class.is-invalid]="name.invalid && name.touched" class="form-control" name="userName" [(ngModel)]="userModel.name"> 
      <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small> 
    </div>

    <!-- {{name.className}} -->
    <!-- {{name.touched}}  -->
    <!-- {{name.pristine}}  -->
    <!-- {{name.valid}}  -->
    <!-- {{name.untouched}}  -->
    <!-- {{name.dirty}}  -->
    <!-- {{name.invalid}} -->

    <div class="form-group">
      <label for="">Email</label>
      <input type="email" class="form-control" [(ngModel)]="userModel.email">  
    </div>

    <div class="form-group">
      <label for="">Phone</label>
      <input type="tel" class="form-control" #phone="ngModel"  pattern="^\d{10}$"  required name="phone" [(ngModel)]="userModel.phone" > 
      <!-- <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Phone is required</small>  -->
      <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
        <!-- <small class="text-danger" *ngIf="phone.errors.['required']">Phone number is required</small>  -->
        <!-- <small class="text-danger" *ngIf="phone.errors.['pattern']">Phone number must be 10 digits</small> -->
        <small  class="text-danger"  *ngIf="phone.hasError('required')">Phone is required </small>
        <small  class="text-danger"  *ngIf="phone.hasError('pattern')">Phone number must be 10 digits </small>
      </div>
    </div>
    
    <br>
    <div class="form-group">
      <label for="">Topics : &nbsp;</label>
      <select (blur)="validateTopic(topic.value)"  (change)="validateTopic(topic.value)" class="custom-select" #topic="ngModel" name="topic" [(ngModel)]="userModel.topic"  [class.is-invalid]="topicHasError && topic.touched">
        <option value="default" >Select the topic</option>
        <option *ngFor="let topic of topics">{{ topic }}</option>     
      </select><br>
      <small class="text-danger" [class.d-none]="!topicHasError || topic.untouched" >Select an option</small>
    </div>
    <br>
    <div class="mb-3">
      <label for="">Time Preference</label>
        <div class="form-check">
          <input type="radio" class="form-check-input" name="timePreference" value="morning" [(ngModel)]="userModel.timePreference">
          <label class="form-check-label">Morning</label>
        </div>
        <div class="form-check">
          <input type="radio" class="form-check-input" name="timePreference" value="afternoon" [(ngModel)]="userModel.timePreference">
          <label class="form-check-label">Afternoon</label>
        </div>
        <div class="form-check">
          <input type="radio" class="form-check-input" name="timePreference" value="evening" [(ngModel)]="userModel.timePreference">
          <label class="form-check-label">Evening</label>
        </div>
    </div>
    <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" name="subscribe" [(ngModel)]="userModel.subscribe">
        <label class="form-check-label">Offers</label>
      
    </div>
    <button  class="btn btn-primary" type="submit" [disabled]="userForm.form.invalid || topicHasError">Submit</button>
    <br>
    <!-- <small class="text-danger" >form is invalid</small>        -->
</form>
</div>